@-webkit-keyframes fade-in-out { .fade-in-out; }
@-moz-keyframes fade-in-out { .fade-in-out; }
@keyframes fade-in-out { .fade-in-out; }
.fade-in-out () {
0% {
  opacity: 0;
}

50% {
  opacity: 1;
}

100% {
  opacity: 0;
}
}
@-webkit-keyframes fade-out { .fade-out; }
@-moz-keyframes fade-out { .fade-out; }
@keyframes fade-out { .fade-out; }
.fade-out () {
0% {
  opacity: 1;
}

100% {
  opacity: 0;
}
}
@-webkit-keyframes slide-up-100 { .slide-up-100; }
@-moz-keyframes slide-up-100 { .slide-up-100; }
@keyframes slide-up-100 { .slide-up-100; }
.slide-up-100 () {
0% {
  opacity: 1;
}

99% {
  opacity: 1;
  top: 0%;
}

100% {
  opacity: 0;
  top: 0%;
}
}
@-webkit-keyframes slide-up { .slide-up; }
@-moz-keyframes slide-up { .slide-up; }
@keyframes slide-up { .slide-up; }
.slide-up () {
0% {
  opacity: 1;
}

99% {
  opacity: 1;
  top: -100%;
}

100% {
  opacity: 0;
  top: -100%;
}
}
