/* Jon Bardin */

@import 'animations';

@body-background-color: black;
@body-width: 512px;
@body-height: 418px;
@body-border: 4px solid gray;
@introduction-fade-out-duration: 3s;
@nfl_introduction-fade-out-delay: 3s;
@copywrite_introduction-fade-out-delay: 6s;

.animation (...) { -webkit-animation: @arguments; -moz-animation: @arguments; animation: @arguments; }
.forward-animation (...) { .animation(@arguments); -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.delayed (...) { -webkit-animation-delay: @arguments; -moz-animation-delay: @arguments; animation-delay: @arguments; }

.centers-children { min-height: 1em; display: table-cell; vertical-align: middle; }
.centered-child { display: block; margin-left: auto; margin-right: auto; }

* { margin: 0; padding: 0; }

body { .centers-children; background-color: @body-background-color; width: @body-width; height: @body-height; border: @body-border; }

div#introductions { position: relative; .centered-child; width: 33%; height: 33%; border: 1px solid blue; }
div#introductions>div { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: contain; }
div#developer_introduction { .forward-animation(fade-out @introduction-fade-out-duration); background-image: url(developer_introduction.png); }
div#nfl_introduction { .forward-animation(fade-out @introduction-fade-out-duration); .delayed(@nfl_introduction-fade-out-delay); opacity: 0.0; background-image: url(nfl_introduction.png); }
div#copywrite_introduction { .forward-animation(fade-out @introduction-fade-out-duration); .delayed(@copywrite_introduction-fade-out-delay); opacity: 0.0; background-image: url(copywrite_introduction.png); }
